<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.plasticlove.product.dao.ProductInfoDao">


	<select id="findByProductStatus" resultType="cn.plasticlove.product.entity.ProductInfo">
		select * from product_info
		where product_status = #{productStatus}
	</select>


	<select id="findByProductIdIn" resultType="cn.plasticlove.product.entity.ProductInfo" parameterType="java.util.List">
		select * from product_info
		where product_id in
		/*传入参数为List的处理方法*/
		<foreach collection="productIdList" index="index" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</select>
</mapper>
 

